# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log

# Python cache
.pytest_cache/

# Streamlit
.streamlit/secrets.toml